01  download a full dataset
    $%(prog)s CIFAR-10
02  download a split of a dataset
    $%(prog)s CIFAR-10 --split train
02  only download label data of a dataset
    $%(prog)s CIFAR-10 --split train --label