01  show the statistics of a dataset
    $%(prog)s CIFAR-10 -s
02  show the schema of a dataset
    $%(prog)s CIFAR-10 --schema
03  show the metadata of a dataset
    $%(prog)s CIFAR-10 -m
04  show the description of a dataset
    $%(prog)s CIFAR-10 -d
05  preview random 10 data files within a dataset
    $%(prog)s CIFAR-10 [ --preview | -p]
